<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h3>🎓 Student Analytics</h3>
    <div>
        <a href="/">Home</a>
        <a href="/predict-page">Predict</a>
        <a href="/about">About</a>
    </div>
</div>

<div class="container">
    <h2>📖 About This Project</h2>

    <p style="margin-top:15px; font-size:14px; line-height:1.6;">
        The Student Performance Analytics System is a machine learning-based web application designed to predict a student's final academic performance.
        
        It uses a real-world dataset and applies data preprocessing, regression modeling, and visualization techniques to generate accurate predictions.

        The system is built using Flask (backend), HTML/CSS (frontend), and SQLite (database), making it lightweight and efficient.
    </p>

    <br>

    <h3>🔧 Technologies Used:</h3>
    <p style="font-size:14px;">
        Python, Flask, Scikit-learn, Pandas, SQLite, HTML, CSS
    </p>

</div>

</body>
</html>