<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">
<h1>Enter Student Details</h1>

<form action="/predict" method="POST">

<label>Age (10–25)</label>
<input type="number" name="age" min="10" max="25">

<label>Study Hours (0–12 hrs)</label>
<input type="number" name="study_hours_per_day" min="0" max="12">

<label>Attendance (0–100%)</label>
<input type="number" name="attendance_rate" min="0" max="100">

<label>Sleep Hours (0–12)</label>
<input type="number" name="sleep_hours" min="0" max="12">

<label>Social Media (0–10 hrs)</label>
<input type="number" name="social_media_hours" min="0" max="10">

<label>Assignment Completion (0–100%)</label>
<input type="number" name="assignment_completion_rate" min="0" max="100">

<label>Participation Score (0–10)</label>
<input type="number" name="participation_score" min="0" max="10">

<label>Online Courses (0–20)</label>
<input type="number" name="online_courses_completed" min="0" max="20">

<label>Math Score (0–100)</label>
<input type="number" name="math_score" min="0" max="100">

<label>Reading Score (0–100)</label>
<input type="number" name="reading_score" min="0" max="100">

<label>Writing Score (0–100)</label>
<input type="number" name="writing_score" min="0" max="100">

<label>Science Score (0–100)</label>
<input type="number" name="science_score" min="0" max="100">

<label>Previous GPA (1–5)</label>
<input type="number" name="previous_gpa" min="1" max="5" step="0.1">

<label>Gender</label>
<select name="gender">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>

<label>Parental Education</label>
<select name="parental_education">
<option value="High School">High School</option>
<option value="Bachelor">Bachelor</option>
<option value="Master">Master</option>
<option value="PhD">PhD</option>
</select>

<label>Family Income</label>
<select name="family_income">
<option value="Low">Low</option>
<option value="Medium">Medium</option>
<option value="High">High</option>
</select>

<label>Internet Access</label>
<select name="internet_access">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>

<label>Study Environment</label>
<select name="study_environment">
<option value="Quiet">Quiet</option>
<option value="Noisy">Noisy</option>
</select>

<label>Tutoring</label>
<select name="tutoring">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>

<button type="submit">Analyze Performance</button>

</form>
</div>
<a href="/" class="back-btn">⬅ Back to Home</a>