<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="navbar">
    <h2>EduInsight</h2>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/about">About</a>
        <a href="/form">Try Prediction</a>
        <a href="/history">History</a>
    </div>
</div>

<div class="hero">
    <h1>EduInsight</h1>
    <p>Smart Student Performance Analyzer powered by Machine Learning</p>

    <a href="/form" class="btn">Start Analysis</a>
    <a href="/dashboard" class="btn">View Dashboard</a>
    <a href="/about" class="btn">Learn More</a>
</div>