<div class="navbar">
    <h3>🎓 Student Analytics</h3>
    <div>
        <a href="/">Home</a>
        <a href="/predict-page">Predict</a>
        <a href="/about">About</a>
    </div>
</div>

<body>
    <div class="container">
        <h2>Enter Student Data</h2>

        <form action="/predict" method="post">
            <label>Study Time</label>
            <input type="number" name="studytime" required>

            <label>Absences</label>
            <input type="number" name="absences" required>

            <label>G1 Marks</label>
            <input type="number" name="G1" required>

            <label>G2 Marks</label>
            <input type="number" name="G2" required>

            <button type="submit">Predict</button>
        </form>
    </div>
</body>